.upload-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #e7f8fd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Use your desired box shadow */
  margin-top: 70px;
  border: 1px solid #192c54 ;
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  margin-bottom: 20px;
}

.preview-container {
  margin-bottom: 10px;
  text-align: center;
}

.preview-image {
  width: 220px;
  height: 220px;
}
h1 {
  text-align: center;
  font-size: 50px;
  margin: 50px;
  animation: slide-up 0.5s ease;
}
h1:hover{
  color: white;
  background-color: #1b3a6b;
}
.button2 {
  padding: 10px 20px;
  border: none;
  background-color: #55afdc; /* Use your desired button color */
  color: #fff; /* Use your desired text color */
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.button2:hover {
  background-color: #192c54; /* Use your desired hover color */
  color: white;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
